/* Article Listing */
.al-item {
    @include item-box;
}

.al-title {
    color: #222;
    font-family: $article-title-font-family;
    font-size: 30px;
    font-weight: $article-title-weight;

}

.al-author {
    font-weight: bold;
    color: #222;
}

.al-description {

}

.al-date {

}