.edit-article-panel {

}


.edit-article-panel__header {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

.edit-article-panel__url-id {

}


.edit-article-panel__title {

}


.edit-article-panel__description {
    
}

.edit-article-panel__content {

}


.edit-article-panel__content-preview {
    font-family: Lato, sans-serif;
    position: static;
    margin: 5px 0px;
    border-width: 1px;
    border-color: #555;
    border-style: solid;
    width: 100%;
    height: 175px;
}


/* Generics */
.edit-article-panel__input {
    font-family: Lato, sans-serif;
    display: block;
    height: 32px;
    padding: 2px 5px;
    margin: 5px 0px;
    background-color: white;
    font-size: 15px;
    border: black solid 1px;
    border-radius: 1px;
}

.edit-article-panel__textarea {
    font-family: Lato, sans-serif;
    resize: none;
    width: 100%;
    height: 175px;
}

.edit-article-panel__form-label {
    font-family: Lato, sans-serif;
}

.edit-article-panel__field-error {
    font-family: Lato, sans-serif;
    color: red;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

.edit-article-panel__submit-button {
    font-family: Lato, sans-serif;
    background: #20c9bb;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family
    margin: 10px 0px;
}