/* Logo */
.default-navbar-logo {
    font-family: 'Squada One', sans-serif;
    font-size: 52px;
    font-weight: 500;
    color: white;
    text-shadow: #698 1px 1px 1px;
    margin: 0px;
    display: inline-block;
}